### OSX template
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
.apdisk
### SVN template
.svn/
### Windows template
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
### JetBrains template
*.iml
.idea/
*.ipr
*.iws

### Node template
# Logs
logs
*.log
npm-debug.log*
coverage
node_modules
build
